@media screen and (max-width: 837px) {
  #about .d{
    float: left;
    margin-left: 10%;
    margin-top: 7%;
  }
  .card{
    min-width: 50px;
    min-height: 50px;
  }
  .card-container{
      margin-left: 18% !important;
  }
  #cont{
    width: 80% !important;
  }
  .wrapper{
    width: 100%;
  }
  #infocont{
    position: relative;
    margin: 0 !important;
    width: 80% !important;
  }
  .videocontainer{
    clear: both;
    top:20px;
    left:-29px;
    position: relative;
  }
.videocontainer  iframe{
    width: 300px;
    height: 200px;
  }
  #name{
    display: none !important;
  }

}
@media screen and (max-width:630px) {
  .videocontainer{
    margin-left: 20px;

  }
  #first{
    font-size: 25px;
  }
  iframe{
    margin: 10px;
  }
  #v1,#v2{
    float: left;
  }
}
